body{
  background-image:url("../img/mtsbw-light.jpg");
  background-attachment:fixed;
}

 p {
  color:white;
}

.bigTitle h1{
  text-align:center;
  margin-top:200px;
  color:green;
}

.bigTitle h3{
  text-align:center;
  margin-bottom:400px;
  color:green;
  
}
