body{
  background-image:url("../img/mts-odd.jpg");
  background-attachment:fixed;
}

 * {
  color:black;
}

.footer {
  text-align:center;
  color:orange;
}

.muted {
  color:orange;
}

#contact{
  width:700px;
  margin-left:auto;
  margin-right:auto;
}

.simpleCart_total, .simpleCart_quantity{
  color:grey!important;
}
